<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- aos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>


</head>
<style>
    .btn-contact:hover {
        background-color: #a5a7a9;
        border-color: #f0ad4e;
    }

    .btn-contact:focus {
        background-color: #5bc0de;
        border-color: #5bc0de;
        box-shadow: none;
    }

    html {
        scroll-behavior: smooth;
    }

    /* Default styles for larger screens */
    p {
        font-size: 18px;
        line-height: 1.5;
    }

    /* Media query for smaller screens */
    @media (max-width: 768px) {
        p {
            font-size: 14px;
            line-height: 1.3;
        }
    }


    /* Fallback for browsers that don't support scroll-behavior */
    @media screen and (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }

    #Overview {
        background-color: #2c3e50; /* Change the background color to a dark blue */
        color: #fff; /* Change the text color to white */
        padding: 50px; /* Add some padding to the section */
    }

    #Overview h2 {
        font-size: 36px; /* Increase the font size of the section header */
        margin-bottom: 20px; /* Add some space below the header */
    }

    #Overview p {
        font-size: 18px; /* Decrease the font size of the section paragraphs */
        line-height: 1.5; /* Increase the line height for readability */
        margin-bottom: 10px; /* Add some space between paragraphs */
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

</style>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> <i class="bi bi-controller btn-icon"></i> </a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#Overview">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Table">Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section id="section1" class="d-flex justify-content-center align-items-center vh-100" data-aos="fade-up"
         data-aos-duration="1000" data-aos-once="true">

    <div class="container-fluid text-center">
        <h1 class="display-4 mb-5 animated fadeInDown">
            Hi, I'm <span class="text-primary">Karthik Thovinakere.</span>
        </h1>
        <h1 class="display-4 mb-5 animated fadeInDown">
            Welcome to my Hobby Page!
        </h1>


        <div class="d-flex justify-content-center mb-5">
            <a class="btn btn-primary btn-lg me-5 animated fadeIn btn-contact "
               href="#Overview"
               role="button">
                <i class="bi bi-controller btn-icon "></i> Get Started
            </a>
        </div>
        <div class="d-flex justify-content-center mb-5">
            <a class="btn btn-primary btn-lg me-5 animated fadeIn btn-contact"
               href="#Contact"
               role="button">
                <i class="bi bi-telephone btn-icon"></i> Contact Me
            </a>
        </div>
    </div>
</section>

<section
        id="Overview"
        class="d-flex justify-content-center align-items-center vh-100"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-once="false"
>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-12">
                <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">Video Games</h2>
                <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    In my free time, I enjoy playing video games as a hobby, with a particular focus on first-person
                    shooter (FPS) games.
                </p>
                <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                    I find the immersive nature of these games to be especially engaging, as I can
                    fully embody the character I am playing and experience the game world from a first-person
                    perspective.
                </p>
                <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
                    Some of my favorite FPS games include Valorant, CS:GO, and Overwatch, each of which
                    presents unique challenges and requires strategic thinking and fast reflexes.
                </p>
                <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
                    In addition to FPS games, I also enjoy playing single-player games such as God of War and Red Dead
                    Redemption, which
                    offer rich, narrative-driven experiences that allow me to fully immerse myself in the game world and
                    explore at my own pace.
                </p>
                <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1200">
                    Overall, gaming provides a fun and rewarding way for me to unwind and
                    exercise my mind in my free time.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Section 3 -->
<section id="Table" class="bg-light text-light py-5 vh-100 text-center ">
    <div class="container-fluid text-center">
        <h2
                class="text-center mb-5 text-dark"
                data-aos="fade-up"
                data-aos-delay="200"
                data-aos-duration="1000"
                data-aos-once="false"

        >
            Table of Games
        </h2>
        <div class="row">
            <div class="col-md-8 mx-auto table-responsive">
                <table
                        class="table table-striped table-hover table-bordered text-dark"
                        data-aos="fade-right"
                        data-aos-duration="1500"
                >
                    <thead>
                    <tr>
                        <th>Game</th>
                        <th>Genre</th>
                        <th>Release Year</th>
                        <th>Platform</th>
                        <th>Learn More</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="animation-delay: 0.1s">Valorant</td>
                        <td style="animation-delay: 0.2s">First-person shooter</td>
                        <td style="animation-delay: 0.3s">2020</td>
                        <td style="animation-delay: 0.4s">PC</td>
                        <td style="animation-delay: 0.5s"><a href="https://playvalorant.com/en-us/"
                                                             class="btn btn-primary text-decoration-none"><i
                                class="bi bi-arrow-right-circle"></i> Learn More</a></td>

                    </tr>
                    <tr>
                        <td style="animation-delay: 0.6s">CS:GO</td>
                        <td style="animation-delay: 0.7s">First-person shooter</td>
                        <td style="animation-delay: 0.8s">2012</td>
                        <td style="animation-delay: 0.9s">PC</td>
                        <td><a
                                href="https://store.steampowered.com/app/730/CounterStrike_Global_Offensive/"
                                class="btn btn-primary text-decoration-none"><i class="bi bi-arrow-right-circle"></i>
                            Learn More</a></td>

                    </tr>
                    <tr>
                        <td style="animation-delay: 1.0s">Overwatch</td>
                        <td style="animation-delay: 1.1s">First-person shooter</td>
                        <td style="animation-delay: 1.2s">2016</td>
                        <td style="animation-delay: 1.3s">PC, PlayStation 4, Xbox One, Nintendo Switch</td>
                        <td><a href="https://playoverwatch.com/en-us/" class="btn btn-primary text-decoration-none"><i
                                class="bi bi-arrow-right-circle"></i> Learn More</a></td>
                    </tr>
                    <tr>
                        <td style="animation-delay: 1.4s">God of War</td>
                        <td style="animation-delay: 1.5s">Action-adventure</td>
                        <td style="animation-delay: 1.6s">2018</td>
                        <td style="animation-delay: 1.7s">PlayStation 4, PlayStation 5</td>
                        <td><a href="https://www.playstation.com/en-us/games/god-of-war/"
                               class="btn btn-primary text-decoration-none"><i class="bi bi-arrow-right-circle"></i>
                            Learn More</a></td>
                    </tr>
                    <tr>
                        <td style="animation-delay: 1.8s">Red Dead Redemption</td>
                        <td style="animation-delay: 1.9s">Action-adventure</td>
                        <td style="animation-delay: 2.0s">2010</td>
                        <td style="animation-delay: 2.1s">PlayStation 3, Xbox 360</td>
                        <td><a href="https://www.rockstargames.com/reddeadredemption/"
                               class="btn btn-primary text-decoration-none"><i class="bi bi-arrow-right-circle"></i>
                            Learn More</a></td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section id="Gallery"></section>
<section id="Gallery_section" class="bg-dark text-light py-5" data-aos="fade-up"
         data-aos-duration="1000"
         data-aos-once="false">
    <div class="container">
        <h2 class="text-center mb-5">Game Gallery</h2>
        <div class="row">
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="card">
                    <a href="https://i.imgur.com/9SfjbkV.jpg" target="_blank">
                        <img src="https://media.tenor.com/WsdWav-T_pgAAAAC/jett-duel-krinex.gif" alt="Valorant"
                             class="card-img-top img-fluid rounded" loading="lazy">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title text-center text-dark">Valorant</h4>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 mb-4">
                <div class="card">
                    <a href="https://media.tenor.com/gGWbe7r8TL0AAAAd/csgo-awp.gif" target="_blank">
                        <img src="https://media.tenor.com/IIGtxhqmCHYAAAAC/gameplay-video-game.gif" alt="CS:GO"
                             class="card-img-top img-fluid rounded" loading="lazy">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title text-center text-dark">CS:GO</h4>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 mb-4">
                <div class="card">
                    <a href="https://i.imgur.com/HqqcaH9.jpg" target="_blank">
                        <img src="https://media.tenor.com/cEr8zQIXlugAAAAd/overwatch-dva.gif" alt="Overwatch"
                             class="card-img-top img-fluid rounded" loading="lazy">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title text-center text-dark">Overwatch</h4>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 mb-4">
                <div class="card">
                    <a href="https://i.imgur.com/HqqcaH9.jpg" target="_blank">
                        <img src="https://media.tenor.com/scXZEcq4lQQAAAAd/god-of-war-kratos.gif" alt="God of War"
                             class="card-img-top img-fluid rounded" loading="lazy">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title text-center text-dark">God of War</h4>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 mb-4">
                <div class="card">
                    <a href="https://i.imgur.com/HqqcaH9.jpg" target="_blank">
                        <img src="https://media.tenor.com/HExoastQwvcAAAAC/red-dead-redemption-rdr2.gif"
                             alt="Red Dead Redemption 2" class="card-img-top img-fluid rounded" loading="lazy">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title text-center text-dark">Red Dead Redemption 2</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="Contact" class="d-flex justify-content-center align-items-center vh-100" data-aos="fade-up"
         data-aos-duration="1000" data-aos-once="false">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-12">
                <h2>Contact Me!</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form action="#" method="get">
                    <div class="form-group">
                        <label for="name"><i class="bi bi-person-fill"></i> Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="bi bi-envelope-fill"></i> Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="phone"><i class="bi bi-telephone-fill"></i> Phone Number</label>
                        <input type="tel" class="form-control" id="phone" name="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="phone"><i class="bi bi-chat-text-fill"></i> Message</label>
                        <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="bi bi-envelope"></i> Send Message</button>
                </form>

            </div>
        </div>
    </div>
</section>


</body>
<footer>
    <div class="bg-dark text-white text-center">
        karthik Thovinakere - &copy;{% now 'Y' %}
    </div>
</footer>
</html>

<script>
    AOS.init();

</script>